<p id="notice"><%= notice %></p>
<div class="card container" style="width: 22rem;">
  <ul class="list-group list-group-flush">
    <p>
      <li class="list-group-item">MASCOTA: <%= @pet.name %> </li>
    </p>
    
    <p>
      <strong>Client:</strong>
      <%= @pet.client %>
    </p>

    <p>
      <strong>Race:</strong>
      <%= @pet.race %>
    </p>

    <p>
      <strong>Bird:</strong>
      <%= fecha(@pet.bird) %>
    </p>

    <p class="text-center">
      <%= link_to 'Back', pets_path %>
    </p>
  </ul>
</div>
<div>
<%= render "shared/pethistories" %>
</div>